<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

    <body class="body-profile">
        <%- include("../partials/header") %>

            <main class="main-profile">

                <form action="/users/profile?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h1 id="h1-profile">MI PERFIL</h1>
                    <div class="avatar-profile">
                        <img src="/img/<%= user.avatar?user.avatar:" users/default-avatar.jpg"%>" alt="avatar">
                        <input class="input-avatar-profile" type="file" name="avatar" disabled>
                    </div>
                    <label id="lbl-fullname-profile" class="lbl-form-profile" for="fullname">Nombre y apellido</label>
                    <input id="input-fullname-profile" class="input-form-profile" type="text" placeholder="Nombre y apellido" name="fullname"
                        value="<%= user.fullname?user.fullname:""%>" disabled>

                    <label id="lbl-email-profile" class="lbl-form-profile" for="email">Email</label>
                    <input id="input-email-profile" class="input-form-profile" type="email" name="email" placeholder="user-profile@example.com"
                        value=<%=user.email?user.email:""%> disabled>

                    <label id="lbl-dni-profile" class="lbl-form-profile" for="dni">Documento</label>
                    <input id="input-dni-profile" class="input-form-profile" type="text" name="dni" placeholder="Documento"
                        value=<%=user.dni?user.dni:""%> disabled>

                    <label id="lbl-tel-profile" class="lbl-form-profile" for="tel">Teléfono</label>
                    <input id="input-tel-profile" class="input-form-profile" type="text" name="tel" placeholder="Teléfono"
                        value=<%=user.tel?user.tel:""%> disabled>

                    <label id="lbl-cp-profile" class="lbl-form-profile" for="cp">Código Postal</label>
                    <input id="input-cp-profile" class="input-form-profile" type="text" name="cp" placeholder="Código Postal"
                        value=<%=user.cp?user.cp:""%> disabled>

                    <label id="lbl-date-profile" class="lbl-form-profile" for="date">Fecha de nacimiento</label>
                    <input id="input-date-profile" class="input-form-profile input-date-form-profile" type="date" name="date"
                        value=<%=user.date?user.date:""%> disabled>

                    <label id="lbl-address-profile" class="lbl-form-profile" for="address">Domicilio</label>
                    <textarea name="address" id="txtarea-address" disabled><%=user.address?user.address:""%></textarea>

                    <button id="edit" class="btn-form-profile" type="button" name="btn-profile">Editar</button>
                    <button id="accept" class="" type="submit" name="btn-profile">Aceptar</button>
                    <button id="cancel" class="btn-form-profile" type="reset" name="btn-profile">Cancelar</button>
                </form>
            </main>
            <%- include("../partials/footer") %>
    </body>
    <script src="/javascripts/profileScript.js" defer></script>
</html>