<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %>

<body>
    <!-- Header start here -->
    <%- include("../partials/header") %>

    <!--REGISTRO-->
    <main class="main-register">
        <div class="form-container">
            <h2>Registro</h2>
            <hr>
            <form action="/users/register" method="POST">
                <div class="form">
                    <div class="input-container ">
                        <label for="email">Dirección de Correo Electrónico:</label>
                        <input id="input-email-register" class="input-style" type="email" name="email" value="<%= locals.old && old.email %>"><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small id="error-email-register" class="text-danger"></small>
                        <% if(locals.errors && errors.email) { %>
                            <small class="text-danger"><%= errors.email.msg %> </small>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <label for="fullname">Nombre y apellido:</label>
                        
                        <input id="input-fullname-register" class="input-style" type="text" name="fullname" value="<%= locals.old && old.fullname %>">
                        <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small id="error-fullname-register" class="text-danger"></small>
                        <% if (locals.errors && errors.fullname) { %>
                            <small class="text-danger"><%= errors.fullname.msg %> </small>
                        <% } %>
                    
                    </div>
                    <div class="input-container">
                        <label for="password">Contraseña:</label>
                        <input id="input-password-register" class="input-style" type="password" name="password">
                        <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small id="error-password-register" class="text-danger"></small>
                        <% if (locals.errors && errors.password) { %>
                            <small class="text-danger"><%= errors.password.msg %> </small>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <label for="password2">Repetir contraseña:</label>
                        <input id="input-password2-register" class="input-style" type="password" name="password2">
                        <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small id="error-password2-register" class="text-danger"></small>
                        <% if (locals.errors && errors.password2) { %>
                            <small class="text-danger"><%= errors.password2.msg %> </small>
                        <% } %>
                    </div>                    
                    <div class="check">
                        <label for="terms"> Aceptar <a href="">términos y condiciones</a> </label>
                        <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <input type="checkbox" name="terms" id="recordar" name="terms">
                        <% if (locals.errors && errors.terms) { %>
                            <small class="text-danger"><%= errors.terms.msg %> </small>
                        <% } %>
                    </div>
                    <div class="button-container"><!-- 
                        <span class="error-message">Credenciales inválidas</span> -->
                        <button type="submit" class="btn btn-submit">Registrarse</button>
                    </div>
                    <span>¿Ya tenés una cuenta? <a href="./login">iniciá sesión</a></span>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footer") %>
    <script src="/javascripts/register.js"></script>
</body>

</html>