<%- include("partials/head") %> 
<%- include("partials/header") %>
<div class="inputs-create">
    <label for="variety">Variedad:</label>
       
    <% wine.variety.forEach(wv => { %>
       <% variety.forEach(element => { %>
             <% if(element.name === wv.name){ %>
                <input type="checkbox" name="variety" id="variety" value="<%= element.id %>" checked><%= element.name %>
             <% }else{%>
                <input type="checkbox" name="variety" id="variety" value="<%= element.id %>"><%= element.name %>
                   
             <% }
             delete element %>
             
          <% }) %>
             
       <% }) %>

       
       </div> 
<%- include("partials/footer") %> 