<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %>
    <main class="main-prueba">
        <div class="img-prueba border-prueba">
            <img  src="/img/<%= detail.image %>" alt="img-prueba">
        </div>
        <h3 class="collection border-prueba"><%= detail.collection.name %></h3>
        <h2 class="title-p border-prueba"><%= detail.name %></h2>
        <h4 class="variedad border-prueba"><%= varieties %></h4>
        <p class="price border-prueba">$<%= detail.price %></p>
        <div class="cant">
            <input type="button" name="menos" class="menos-detail btns" value="-">
            <input type="text" name="cantidad" class="cantidad" value="0">
            <input type="button" name="mas" class="mas-detail btns" value="+">
        </div>
        <p class="description border-prueba"><%= detail.description %></p>
        <p class="maridaje"><b>Maridaje: </b><%= detail.pairing %></p>
            <button type="submit" class="btn-button agregar border-prueba">Agregar</button>
            <button type="button" class="btn-button ver-mas border-prueba">Ver mas</button>
            <button type="submit" class="confirmar border-prueba">Confirmar</button>

       <%- include("../partials/desplegable-productDetail") %> 
    </main>
    <%- include("../partials/monsape-ofrece") %>
    <%- include("../partials/footer") %> 
</body>
</html>