<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs") %> 
<body class="body-product-detail">
    <%- include("../partials/header") %>
    <div class="winesExplorer">
    <a href="/products/detail/<%= detail.id - 1 %>"><div class="btn-prev-next btn-prev"><p class="p-prev-next"><%= "<" %></p></div></a>
    <h5 style="color: white; font-size: 25px; padding-top: 28px;">EXPLORÁ MÁS VINOS</h5>
    <a href="/products/detail/<%= detail.id + 1 %>"><div class="btn-prev-next btn-next"><p class="p-prev-next"><%= ">" %></p></div></a>
</div>
    <main class="main-prueba" id="<%= id %>">
      
        <div class="img-prueba border-prueba">
            <img  src="/img/<%= detail.image %>" alt="img-prueba">
        </div>
        <h3 name="collection" class="collection border-prueba"><%= detail.collection.name %></h3>
        <h2 name="name" class="title-p border-prueba"><%= detail.name %></h2>
        <h4 name="variety" class="variedad border-prueba"><%= varieties %></h4>
        <p name="price" class="price border-prueba">$<%= detail.price %></p>
        <div class="cant">
            <%- include("../partials/btns-quantity") %> 
        </div>
        <p name="description" class="description border-prueba"><%= detail.description %></p>
        <p name="pairing" class="maridaje"><b>Maridaje: </b><%= detail.pairing %></p>
            <button type="submit" class="btn-button agregar border-prueba">Agregar</button>
            <button type="button" class="btn-button ver-mas border-prueba">Ver mas</button>
            <button type="submit" class="confirmar border-prueba">Confirmar</button>

       <%- include("../partials/desplegable-productDetail") %> 
    </main>
    <%- include("../partials/monsape-ofrece") %>
    <%- include("../partials/footer") %> 
    <script src="/javascripts/btnAddProductDetail.js" defer></script>
</body>
</html>