<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs") %>

    <body class="body-productDetail">

        <!-- Header start here -->
        <%- include("../partials/header.ejs") %>

            <!-- Main -->
            <main class="main-productDetail">

                <div class="galeria">

                </div>


                <div class="img-cuerpo-detail">
                    <img id="img-carrito2" src="/img/<%= detalle.image %>  " alt="Vino">
                    <div class="cuerpo-detail">
                        <h3 class="h3-detail-colleccion"><%= detalle.coleccion %></h3>
                        <h2 class="h2-detail-nombre" id="nth"><%= detalle.nombre %> </h2>
                        <h5 class="h5-detail-variedad"> <%= detalle.variedad %> </h5>
                        <section class="section-description"><%= detalle.descripcion %></section>
                        <!-- Botones para regular la cantidad de unidades de producto a adquirir -->
                        <div class="cant-precio-detail" id="nth">
                            <p class="precio">$<%= detalle.precio %></p>
                            <div class="cant">
                                <input type="button" name="menos" id="buttons" class="menos" value="-">
                                <input type="text" name="cantidad" id="cantidad" class="cantidad" value="0">
                                <input type="button" name="mas" id="buttons" class="mas" value="+">
                            </div>

                        </div>

                        <div class="botones" id="nth">
                            <div class="cart-cost">
                                <input type="button" name="agregar" id="agregar" value="Agregar al carrito">
                                <input type="button" name="costo-envio" id="costo-envio" value="Costo de envío">
                            </div>
                            <input type="submit" name="confirmar" id="confirmar" value="Confirmar">
                        </div>
                    </div>
                </div>
                <input type="submit" name="confirmar" id="confirmar-2" value="Confirmar">
                <input type="checkbox" name="more-details" id="more-details" value="" class="more-details">
                <label for="more-details" class="more-details-p">
                    
                    <p>+</p>
                    <label for="more-details">
                        <div class="container-more-details">
                            <label for="">
                                <div class="container-more-details-content">
                                    <p>Hola</p>
                                </div>
                            </label>
                        </div>
                    </label>
                </label>
            </main>

            <%- include("../partials/footer") %>
    </body>

</html>