<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>
<body class="body-tienda">
    <!-- Header start here -->
    <%- include("../partials/header") %> 
    
    <!--frase-->
    <div class="frase results">
        <h4>VINO PARA QUEDARSE</h4>
        <P>Bienvenidos a nuestra tienda. Estamos orgullosos de ofrecerle una amplia selección de los mejores vinos argentinos.</P>
        <!--linea horizontal-->
        <hr>
    </div>
    <!-- resultados de busqueda     -->
    <div class="search-results">
        <p>Resultados de tu búsqueda para:</p>
        <div class="number-of-results">
            <h3><%=search%></h3>
            <p> <%= wines.length %> resultados</p>
        </div>
    </div>
    

 <!--Filtro de productos-->
 <div class="filtros">
    <div class="filtro-de-productos">
        <span>Ordenar por: </span>
        <select>        
            <option value="" selected></option>
            <option value="mas-vendidos">Más Vendidos</option>
            <option value="precio-menor">Precio: Menor a Mayor</option>
            <option value="precio-mayor">Precio: Mayor a Menor</option>
            <option value="a-z">A - Z</option>
            <option value="z-a">Z - A</option>
        </select>            
    </div>
    <div class="filtro-de-productos">
        <span>Categorías: </span>
        <select>
            <option value="" selected></option>                
            <a href="/products/search?keywords=Tinto"><option value="">Tintos</option></a>
            <a href="/products/search?keywords=Blanco"><option value="">Blancos</option></a>
            <a href="/products/search?keywords=Espumante"><option value="">Espumantes</option></a>
            <a href="/products/search?keywords=Rosado"><option value="">Rosado</option></a>
        </select>

       
    </div>

    <input class="searchTienda" type="text" placeholder="¿Que estas buscando?" name="" id="">
    <!-- <div class="categorias-principales">                
            <ul class="category">
                <li><a href="#">Categoría <i class="fas fa-chevron-down"></i></a>
                    <ul class="tipo">
                        <li><a href="/products/search?keywords=Tinto">Tintos</a></li>
                        <li><a href="/products/search?keywords=Blanco">Blancos</a></li>
                        <li><a href="/products/search?keywords=Espumante">Espumantes</a></li>
                        <li><a href="/products/search?keywords=Rosado">Rosado</a></li>                            
                    </ul>
                </li>
            </ul>
    </div> -->
</div>
    <!--MAIN-->
    <main class="main-tienda">
        <section class="products">        
            <% wines.forEach(wine => { %>
                <article class="product-container">
                    <a href="/products/detail/<%- wine.id %>"><img class="imagen-producto" src="/img/<%= wine.image %> " alt="Imagen de vino Monsape"></a>
                    <div class="descuento-porcentaje">
                        <p><%= Math.trunc(wine.discount) %>% OFF</p>
                    </div>
                    <div class="caja-de-vino">
                        <img class="caja" src="/img/tienda/caja.svg" alt="caja de vino">
                        <img class="cantidad-vinos" src="/img/tienda/6.svg" alt="cantidad de vinos en una caja">
                    </div>
                    <div class="descripcion-producto">
                        <p class="precio-por-caja">Precio caja x6  botellas</p>
                        <h4 class="nombre-producto"><%= wine.name %> </h4>
                    </div>
                    <div class="descuento-y-precio">
                        <span class="descuento">$<%= Math.round((100*wine.price)/(100-wine.discount)) %> </span>
                        <span class="precio">$<%= wine.price %> </span>
                    </div>
                    <button class="agregar-producto-al-carrito" data-id="<%= wine.id %>">Agregar</button>
                </article>
            <% }) %>            
        </section>
    </main>

    <!--lo que ofrece Monsape-->
    <div class="monsape-ofrece">
        <div class="envio">
            <p>ENVIO GRATIS A TODO EL PAIS</p>
            <div class="camion">
                <img src="/img/tienda/camion-de-reparto.svg" alt="camión de reparto">                
            </div>
        </div>
        <div class="tarjetas-credito">
            <p>PAGÁ CON TARJETA DE CREDITO</p>
            <div class="tarjetas">
                <img src="/img/tienda/visa.svg" alt="tarjeta de credito Visa">
                <img src="/img/tienda/maestro.svg" alt="tarjeta de credito Maestro">
                <img src="/img/tienda/paypal.svg" alt="tarjeta con Paypal">
            </div>
        </div>        
        <div class="satisfaccion">
            <p>SATISFACCIÓN GARANTIZADA</p>
            <div class="copa-con-vino">
                <img src="/img/tienda/copa-con-vino.svg" alt="copa con vino">
            </div>
        </div>
    </div>
    <!--banner 2 mobile-->
    <section class="carousel-container1">
        
        <div class="slides1 fade1">
            <div class="envio">
                <p>ENVIO GRATIS A TODO EL PAIS</p>
                <div class="camion">
                    <img src="/img/tienda/camion-de-reparto.svg" alt="camión de reparto">                
                </div>
            </div>        
        </div>
        
        <div class="slides1 fade1">
            <div class="tarjetas-credito">
                <p>PAGÁ CON TARJETA DE CREDITO</p>
                <div class="tarjetas">
                    <img src="/img/tienda/visa.svg" alt="tarjeta de credito Visa">
                    <img src="/img/tienda/maestro.svg" alt="tarjeta de credito Maestro">
                    <img src="/img/tienda/paypal.svg" alt="tarjeta con Paypal">
                </div>
            </div>
        </div>
        
        <div class="slides1 fade1">
            <div class="satisfaccion">
                <p>SATISFACCIÓN GARANTIZADA</p>
                <div class="copa-con-vino">
                    <img src="/img/tienda/copa-con-vino.svg" alt="copa con vino">
                </div>
            </div>
        </div>
        
    </section>

    <!-- The dots/circles -->
    <div class="dots1">
        <span class="dot1" onclick="currentSlides1(1)"></span>
        <span class="dot1" onclick="currentSlides1(2)"></span>
        <span class="dot1" onclick="currentSlides1(3)"></span>        
    </div>
         
    <div class="modal-container-product-detail">
        <div class="modal-product-detail">
            <h3 class="h4-modal-product-detail">¿Agregar producto al carrito?</h3>
            <div class="btns-container-modal-product-detail">
                <button class="btn-modal-product-detail btn-buy" type="submit" id="yes">Si</button>
                <button class="btn-modal-product-detail" type="button" id="no">No</button>
            </div>
        </div>
    </div>
    <!--FOOTER-->
    <%- include("../partials/footer") %>
    <script src="/javascripts/resultScript.js" defer></script>
</body>
</html>