<input type="checkbox" name="more-details" id="more-details" value="" class="more-details">
<label for="more-details" class="more-details-p">

    <p class="btn-more-detail">+</p>
    <label for="more-details">
        <div class="container-more-details">
            <label for="">
                <div class="container-more-details-content">
                        <div class="div-distribution div-distribution-1">
                            <img class="img-distribution" src="/img/maridaje.png" alt="maridaje">
                            <p class="p-section-1 title">Maridaje</p>
                            <p class="p-section-1-description description-details">
                                <%= detalle.Maridaje %>
                            </p>
                        </div>
                        <div class="div-distribution div-distribution-2">
                            <img class="img-distribution" src="/img/porcentaje.png" alt="maridaje">
                            <p class="p-section-2 title">Graduación alcohólica</p>
                            <p class="p-section-2-description description-details">
                                <%= detalle.graduacionAlcoholica %>
                            </p>
                        </div>
                        <div class="div-distribution div-distribution-3">
                            <img class="img-distribution" src="/img/acidez.png" alt="maridaje">
                            <p class="p-section-3 title">Acidez total</p>
                            <p class="p-section-3-description description-details">
                                <%= detalle.acidezTotal %>
                            </p>
                        </div>
                        <div class="div-distribution div-distribution-4">
                            <img class="img-distribution" src="/img/azucar.png" alt="maridaje">
                            <p class="p-section-4 title">Azúcar residual</p>
                            <p class="p-section-4-description description-details">
                                <%= detalle.azucarResidual %>
                            </p>
                        </div>
                        <div class="div-distribution div-distribution-5">
                            <img class="img-distribution" src="/img/temperatura.png" alt="temperatura">
                            <p class="p-section-5 title">Servicio</p>
                            <p class="p-section-5-description description-details">
                                <%= detalle.temperaturaRecomendada %>
                            </p>
                        </div>
                        <div class="div-distribution div-distribution-6">
                            <img class="img-distribution" src="/img/variedad.svg" alt="variedad">
                            <p class="p-section-6 title">Stock</p>
                            <p class="p-section-6-description description-details">
                                <%= detalle.stock %>
                            </p>
                        </div>
                </div>
            </label>
        </div>
    </label>
</label>