<!DOCTYPE html>
<html lang="es">    
<%- include("../partials/head") %>    
<body>
    <!--headerAdmin-->
    <%- include("../partials/header") %>              
    <main class="main-admin-products">
      <div class="new-product">
        <h1>Listado de Productos</h1>      
        <div class="btn-add-product">
          <a href="/admin/cargaDeProducto" class="btn btn-add">AGREGAR</a>
        </div>      
      </div>
      <table class="table-products">
        <thead>
          <tr class="category">
            <th class="id" scope="col">id</th>
            <th class="nombre" scope="col">Nombre</th>
            <th class="categoria" scope="col">Categoría</th>
            <th class="stock" scope="col">Stock</th>
            <th class="precio" scope="col">Precio</th>
            <th class="descuento" scope="col">Descuento</th>
            <th class="opciones" scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            <% vinos.forEach(vino => { %>
              <tr class="products">
                  <td class="id"><%- vino.id%></td>
                  <td class="nombre"><%- vino.nombre%></td>
                  <td class="categoria"><%- vino.categoria%></td>
                  <td class="stock"><%- vino.stock%></td>
                  <td class="precio">$<%- vino.precio%></td>
                  <td class="descuento"><%- vino.descuento%>%</td>
                  <td class="btn-options">
                      <a class="btn-edit" href="/admin/editProduct/<%- vino.id %>"><img src="/img/editar.svg" alt="editar producto"></a>
                      <form action="/admin/products/delete/vino.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn-delete" >
                          <img src="/img/eliminar.svg" alt="eliminar producto">
                        </button>
                      </form>
                  </td>
                </tr>
            <% }) %>
        </tbody>
      </table>
    </main>       
    <%- include("../partials/footer") %>
</body>
</html>