<!DOCTYPE html>
<html lang="es">    
<%- include("../partials/headAdmin") %>    
<%- include("../partials/head") %>    
<body>
    <!--headerAdmin-->
    <%- include("../partials/header") %>
            
    <main class="main-admin-products">
      <div class="new-product">
        <h1>Listado de Productos</h1>  
        <div class="search-admin1">
          <input class="input-search-admin1" type="text" placeholder="Buscar Producto...">
        </div>         
        <div class="btn-add-product">
          <a href="/admin/cargaDeProducto" class="btn btn-add">AGREGAR</a>
        </div>      
      </div>
      <table class="table-products">
        <thead>
          <tr class="category">
            <th class="id" scope="col">id</th>
            <th class="nombre" scope="col">Nombre</th>
            <th class="categoria" scope="col">Categoría</th>
            <th class="stock" scope="col">Stock</th>
            <th class="precio" scope="col">Precio</th>
            <th class="descuento" scope="col">Descuento</th>
            <th class="opciones" scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            <% wines.forEach(wine => { %>
              <tr class="products">
                  <td class="id"><%- wine.id%></td>
                  <td class="nombre row"><%- wine.name%></td>
                  <td class="categoria"><%- wine.category.name %></td>
                  <td class="stock"><%- wine.stock%></td>
                  <td class="precio">$<%- wine.price%></td>
                  <td class="descuento"><%- wine.discount%>%</td>
                  <td class="btn-options">
                      <a class="btn-edit" href="/admin/editProduct/<%- wine.id %>"><img src="/img/editar.svg" alt="editar producto"></a>
                      <form action="/admin/delete/<%-wine.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn-delete" >
                          <img src="/img/eliminar.svg" alt="eliminar producto">
                        </button>
                      </form>
                  </td>
                </tr>
            <% }) %>
        </tbody>
      </table>
    </main>       
  <script src="/javascripts/adminTableProducts.js" defer></script>
</body>
</html>