<!DOCTYPE html>
<html lang="en">
<%- include("../partials/headAdmin") %>

   <body>
      <%- include("../partials/headerAdmin") %>
         <main class="main-admin-create">
            <h2>NUEVO PRODUCTO</h2>
            <div class="create-forms">
               <form class="create" action="/admin/cargaDeProducto" method="POST"
                  enctype="multipart/form-data">
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="name">Nombre:</label>
                     <input class="input-form-create-product" type="text" name="name">
                  </div>
                  <div class="large">
                     <label class="lbl-form-create-product" for="description">Descripción:</label>
                     <textarea class="txt-form-edit-product" name="description" cols="30" rows="5"></textarea>
                  </div>
                  
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="category"> Categorias: </label>
                     <select class="input-form-create-product" name="category">
                        <% category.forEach(category=> { %>
                              <option value="<%= category.id %>">
                                 <%= category.name %>
                              </option>
                        <% }) %>

                     </select>
                  </div>
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="collection">Colección:</label>
                     <select class="input-form-create-product" name="collection" id="">
                        <% collection.forEach(collection=> { %>
                              <option value="<%= collection.id %>">
                                 <%= collection.name %>
                              </option>
                        <% }) %>

                     </select>
                  </div>
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="stock">Stock:</label>
                     <input class="input-form-create-product" type="number" name="stock">
                  </div>
                  <div class="large">
                     <label class="lbl-form-create-product" for="pairing">Maridaje:</label>
                     <textarea class="txt-form-edit-product" name="pairing" cols="30" rows="5"></textarea>
                  </div>
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="alcoholContent">Graduacion Alcoholica:</label>
                     <input class="input-form-create-product" type="text" name="alcoholContent"
                        >
                  </div>
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="totalAcidity">Acidez:</label>
                     <input class="input-form-create-product" type="text" name="totalAcidity"
                        >
                  </div>
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="residualSugar">Azucar Residual:</label>
                     <input class="input-form-create-product" type="text" name="residualSugar"
                        >
                  </div>
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="service_temperature">Temperatura recomendada:</label>
                     <input class="input-form-create-product" type="text" name="service_temperature"
                        >
                  </div>
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="price">price:</label>
                     <input class="input-form-create-product" type="number" name="price" >
                  </div>
                  <div class="inputs-create">
                     <label class="lbl-form-create-product" for="discount">Descuento:</label>
                     <input class="input-form-create-product" type="number" name="discount"
                        >
                  </div>

                  <label class="lbl-form-create-product">Variedad:</label>
                  <div class="div-varieties-form-create-product">
                     <% variety.forEach(element=> { %>
                        <label class="lbl-checkbox-form-product-create" for="variety">
                           <%= element.name %>
                        </label>
                        <input class="input-form-create-product checkbox-form-create-product" type="checkbox"
                           name="variety" value="<%= element.id %>">
                        <% }) %>
                  </div>

                  <div class="input-file-form-edit-product">
                     <p class="p-file-img">Nueva Imagen</p>
                     <input class="input-file-img" type="file" name="image">
                  </div>
                  <button type="submit">CREAR</button>
            </div>
         </main>
   </body>

</html>