<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %> 
<body>
    <%- include("../partials/headerAdmin") %>
    <body class="body-profile">
        <main class="main-profile">

            <form id="<%=user.id%>" class="form-user-profile-admin" action="/admin/userProfileAdmin/<%=user.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                <h1 id="h1-profile">MI PERFIL</h1>
                <div class="avatar-profile">
                    <img src="/img/<%= user.avatar?user.avatar:" users/default-avatar.jpg"%>" alt="avatar">
                    <input class="input-avatar-profile" type="file" name="avatar" disabled>
                </div>                
                
                <label id="lbl-fullname-profile" class="lbl-form-profile" for="fullname">Nombre y apellido</label>
                <div class="div-fullname-profile div-form-profile">
                    <input id="input-fullname-profile" class="input-form-profile" type="text" placeholder="Nombre y apellido" name="fullname"
                        value="<%= user.fullname?user.fullname:""%>" disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="nameErrors"></small>
                </div>

                <label id="lbl-email-profile" class="lbl-form-profile" for="email">Email</label>
                <div class="div-email-profile div-form-profile">
                    <input id="input-email-profile" class="input-form-profile" type="email" name="email" placeholder="user-profile@example.com"
                        value="<%=user.email?user.email:""%>" disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="emailErrors"></small>
                </div>

                <label id="lbl-pass-profile" class="lbl-form-profile" for="pass">Password</label>
                <div class="div-pass-profile div-form-profile">
                    <input id="input-pass-profile" class="input-form-profile" type="password" name="pass" 
                    value="<%=user.pass?user.pass:""%>" disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="passErrors"></small>
                </div>

                <label id="lbl-rePass-profile" class="lbl-form-profile" for="rePass">Repetir password</label>
                <div class="div-rePass-profile div-form-profile">
                    <input id="input-rePass-profile" class="input-form-profile" type="password" name="rePass" 
                    disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="rePassErrors"></small>
                </div>

                <label id="lbl-dni-profile" class="lbl-form-profile" for="dni">Documento</label>
                <div class="div-dni-profile div-form-profile">
                    <input id="input-dni-profile" class="input-form-profile" type="text" name="dni" placeholder="Documento"
                        value="<%=user.dni?user.dni:""%>" disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="dniErrors"></small>
                </div>

                <label id="lbl-tel-profile" class="lbl-form-profile" for="tel">Teléfono</label>
                <div class="div-tel-profile div-form-profile">
                    <input id="input-tel-profile" class="input-form-profile" type="text" name="tel" placeholder="Teléfono"
                        value="<%=user.tel?user.tel:""%>" disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="telErrors"></small>
                </div>

                <label id="lbl-cp-profile" class="lbl-form-profile" for="cp">Código Postal</label>
                <div class="div-cp-profile div-form-profile">
                    <input id="input-cp-profile" class="input-form-profile" type="text" name="cp" placeholder="Código Postal"
                        value="<%=user.cp?user.cp:""%>" disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="cpErrors"></small>
                </div>

                <label id="lbl-date-profile" class="lbl-form-profile" for="date">Fecha de nacimiento</label>
                <div class="div-date-profile div-form-profile">
                    <input id="input-date-profile" class="input-form-profile input-date-form-profile" type="date" name="date"
                        value="<%=user.date?user.date:""%>" disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="dateErrors"></small>
                </div>

                <label id="lbl-address-profile" class="lbl-form-profile" for="address">Domicilio</label>
                <div class="div-address-profile div-form-profile">
                    <textarea name="address" class="txtarea-address" disabled><%=user.address?user.address:""%></textarea>
                    <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                    <small class="small-form-profile" id="addressErrors"></small>
                </div>
                <button class="btn-form-profile" type="submit" name="btn-profile">ELIMINAR USUARIO</button>
            </form>
            <form class="asignarAdmin" action="/admin/userProfileAdmin/<%=user.id%>?_method=PATCH" method="POST">
                <!-- <button id="editAdmin" class="btn-form-profile" type="button" name="btn-profile">Editar</button> -->
                <button class="btn-form-profile" type="submit" name="btn-profile" id="btn-asign-admin">ASIGNAR ADMINISTRADOR</button>
                <label id="lbl-fullname-profile" class="lbl-form-profile" for="fullname">Rol</label>
                <div class="div-fullname-profile div-form-profile">
                    <input id="input-fullname-profile" class="input-form-profile" type="text" placeholder="Nombre y apellido" name="fullname"
                        value="<%= user.rol?user.rol:""%>" disabled><i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                        <small class="small-form-profile" id="nameErrors"></small>
                </div>
                <!-- <button id="cancelAdm" class="btn-form-profile" type="reset" name="btn-profile">Cancelar</button> -->

            <!-- </form> -->
            <div class="modal-container-user-profile-admin">
                <div class="modal-user-profile-admin">
                    <h3 class="h4-modal-user-profile-admin">¿Asignar Rol Administrador a este usuario?</h3>
                    <div class="btns-container-modal-user-profile-admin">
                        <button class="btn-modal-user-profile-admin btn-buy" type="submit" id="yes">Si</button>
                        <button class="btn-modal-user-profile-admin" type="button" id="no">No</button>
                    </div>
                </div>
            </div>
        </main><!-- 
        <script src="/javascripts/userProfileAdmin.js" defer></script> -->
    </body>
    <%- include("../partials/footer") %>
</body>
</html>